section.m_main01{
    background: -moz-linear-gradient(top,  rgba(89,93,165,1) 30%, rgba(255,128,87,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(89,93,165,1) 30%,rgba(255,128,87,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(89,93,165,1) 30%,rgba(255,128,87,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke: 1px #fff;
    color:none;
    padding-top:60px;
    width:100%;
    height:94vh;
    overflow: hidden;
    font-size:70px;
}
section.m_main01 p{
    opacity:60%;
    font-weight:500;
}
section.m_main01 p:first-child{
    margin: 50% 0 0 3%;
}
section.m_main01 p:nth-child(2){
    margin: 10% 0 0 20%;
}
section.m_main01 img{
    height:80px;
    position: absolute;
    z-index:1;
    top:300px;
    left:45px;
}
section.main02{
    position:relative;
    background:#000000;
    height:auto;
}
div.title_box{
    padding-top: 100px;
    width:80%;
    margin:0 auto;
}
h3.section_title{
    font-weight: 500;
    font-size:3.12rem;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke: 1px #FFBD38;
    margin-bottom: 10px;
}
p.section_subtitle{
    font-size:1.5rem;
    color:#fff;
    opacity:80%;
    margin-bottom:80px;
}
ul.speakers{
    display:flex;
    text-align:center;
    color: #fff;
    font-size:1.12rem;
    overflow: hidden;
}
ul.speakers>li{
    margin-right:50px;
}
ul.speakers>li>div{
    width:25rem;
    height:25rem;
    border-radius:10px;
    background-size:cover;
    margin-bottom: 25px;
}
div.speakers_img1{
    background-image:url('/public/images/middleton-black-default.jpg');
}
div.speakers_img2{
    position:relative;
    background-image:url('/public/images/emberton-diamond-jubilee.jpg');
}
span.limited{
    font-weight:500;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-size:1rem;
    width:80px;
    height:80px;
    border:1px solid black;
    border-radius:50%;
    background:black;
    left:20px;
    top:20px;
    position:absolute;
}
span.limited i{
    font-weight: 500;
}
div.speakers_img3{
    background-image:url('/public/images/willen-black-default.jpg');
}
div.speakers_img4{
    background-image:url('/public/images/acton-iii-black-default.jpg');
}

p.speakers_name{
    font-size:1.5rem;
    font-weight:500;
    margin-bottom:20px;
}
p.speakers_pay{
    font-size:1.2rem;
    font-weight:300;
}
div.speakers_discover{
    margin:0 auto 80px;
}
div.speakers_discover_img1{
    width:34.68rem;
    height:25.12rem;
    background-image:url('/public/images/2-col-home-family-both_2.png');
    margin-bottom:40px;
    background-size:cover;
}
div.speakers_discover_img2{
    width:34.68rem;
    height:25.12rem;
    background-image:url('/public/images/Middleton_Category-page_2-column-banner_desktop_2.png');
    margin-bottom:40px;
    background-size:cover;
}
ul.speakers_discover_box li{
    text-align: center;
}
ul.speakers_discover_box h2{
    color:#FFBD38;
    font-size:2.12rem;
    font-weight:500;
    margin-bottom:40px;
}
ul.speakers_discover_box button{
    width:200px;
    height:70px;
    border:solid 1px #fff;
    background: none;
    border-radius: 10px;
    color:#fff;
    opacity:60%;
}

div.speakers_visual{
    background-attachment: fixed;
    width:100%;
    height:37.5rem;
    background-image:url('/public/images/hero-all-speakers-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    color:#ffff;
    flex-direction: column;
    display:flex;
    align-items: center;
    justify-content:center;
}

h3.all_product{
    font-size:3.12rem;
    font-weight: 500;
    margin-bottom: 10px;
}
div.speakers_visual p{
    font-size:1.87rem;
}

section.main03{
    position:relative;
    width:100%;
    height:auto;
    background: -moz-linear-gradient(top,  rgba(89,93,165,1) 0%, rgba(255,128,87,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(89,93,165,1) 0%,rgba(255,128,87,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(89,93,165,1) 0%,rgba(255,128,87,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

ul.headphones{
    display:flex;
    text-align:center;
    color: #fff;
    font-size:1.12rem;
    overflow: hidden;
}
ul.headphones>li{
    margin-right:50px;
}
ul.headphones>li>div{
    width:25rem;
    height:25rem;
    border-radius:10px;
    background-size:cover;
    margin-bottom: 25px;
}
div.headphones_img1{
    background-image:url('/public/images/hp-carousel-monitor-ii-anc.jpg');
}
div.headphones_img2{
    position:relative;
    background-image:url('/public/images/monitor-ii-anc-diamond-jubilee.jpg');
}
div.headphones_img3{
    position:relative;
    background-image:url('/public/images/motif-anc-diamond-jubilee.jpg');
}

div.headphones_img4{
    background-image:url('/public/images/hp-carousel-minor-iii.jpg');
}

p.headphones_name{
    font-size:1.5rem;
    font-weight:500;
    margin-bottom:20px;
}
p.headphones_pay{
    font-size:1.2rem;
    font-weight:300;
}
ul.headphones_discover_box{
    margin:0 auto 80px;
}
ul.headphones_discover_box div{
    margin:0 auto;
}

div.headphones_discover_img1{
    width:23.56rem;
    height:25.12rem;
    background-image:url('/public/images/all-02a-in-ear.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
div.headphones_discover_img2{
    width:23.56rem;
    height:25.12rem;
    background-image:url('/public/images/all-02b-on-ear.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
div.headphones_discover_img3{
    width:23.56rem;
    height:25.12rem;
    background-image:url('/public/images/all-02b-over-ear.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: cover;
}
ul.headphones_discover_box li{
    text-align: center;
}
ul.headphones_discover_box h2{
    color:#FFBD38;
    font-size:1.87rem;
    font-weight:500;
    margin-bottom:40px;
}
ul.headphones_discover_box button{
    width:200px;
    height:70px;
    border:solid 1px #fff;
    background: none;
    border-radius: 10px;
    color:#fff;
    opacity:60%;
}

div.headphones_visual{
    background-attachment:fixed;
    width:100%;
    height:37.5rem;
    background-image:url('/public/images/hp-reactivation-hero-headphones-desktop.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    color:#ffff;
    flex-direction: column;
    display:flex;
    align-items: center;
    justify-content:center;
}

h3.all_product{
    font-size:3.12rem;
    font-weight: 500;
    margin-bottom: 10px;
}
div.headphones_visual p{
    font-size:1.87rem;
}
section.main04{
    width:100%;
    height:110vh;
    background:#000;
    display:flex;
    justify-content:center;
    padding-top:110px;
}
div.living_with_pride{
    position:relative;
    width:90vw;
    height:auto;
}
div.living_img{
    background:url('/public/images/1-col-esktop.jpg')no-repeat center;
    width:37rem;
    height:70.25rem;
    position:absolute;
    top:0;
    right:0;
    background-size: cover;
}
div.living_text_box{
    position: absolute;
    z-index: 1;
    top:20%;
}
p.living_text_title{
    font-size:4.25rem;
    font-weight: 500;
    color:#FFBD38;
    margin-bottom:30px;
    text-shadow:4px 4px 4px rgba(0,0,0,0.25);
}
p.living_text{
    font-size:1.5rem;
    line-height:24px;
    color:#fff;
    opacity:80%;
    margin-bottom: 60px;
}
div.living_text_box button{
    width:200px;
    height:70px;
    border:solid 1px #fff;
    background: none;
    border-radius: 10px;
    margin-bottom:150px;
    color:#fff;
    opacity:60%;
}