div#m_header{
    margin: 0 auto;
    width:100%;
    height:60px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position:fixed;
    font-size:24px;
    font-weight:600;
    z-index:9999;
    color:white;
}
h1.logo{
    width:87px;
    height:100%;
}
ul#menu_list{
    padding:15px 16px;
    display:flex;
    justify-content:space-between;
}
nav#mobilemenu{
    width:80vw; 
    height:100vh; 
    position:absolute; 
    left:0px; 
    top:0px; 
    background:black; 
    z-index:10; 
}
div#mobilemenu_inner{
    width:100%; 
    height:100%; 
    position:absolute;
    right:0px; 
    top:10%; 
}
div#mobilemenu_inner p{
    width:100%; 
    font-size:20px;
    line-height:40px;
    padding-left:5%;
}
span#mobileclose_btn{
    font-size:30px;
    display:block; 
    position:absolute; 
    right:10%; 
    top:3%; 
    color:white;
}
ul#mobileloginmenu{
    width:100%; 
    height:50px; 
    padding-top:10%;
    padding-left:5%;
}
ul#mobileloginmenu button{
    color: white;
    height:50px;
    border:1px solid white;
    background: none;
    width:80%;
}
ul#mobilemenu_list{
    margin-top:50px;
    width:100%; 
}
ul#mobilemenu_list>li{
    width: 80%;
    font-size:18px;
    padding:10% 5%;
    border-bottom:1px solid rgb(74, 74, 74);
}       
ul#mobilemenu_list li a{
    color: rgb(210, 210, 210);
}

div#mobile_grayLayer{
    width:100%; 
    height:100vh; 
    background:black; 
    opacity:0.7; 
    position:fixed; 
    left:0px; 
    top:0px; 
}